@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#BF8654, #D9B88F);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #BF8654;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #733030;
    text-align: center;
    text-shadow: 1px 1px 2px #3f1a1ace;
}

h2{
    color: #262425;
}
p{
    text-align: justify;
}